black
# ==========================
# Django Core
# ==========================
Django>=4.2,<5.0
django-allauth
django-cities-light
django-countries
django-environ
django-ninja

# ==========================
# Django Extensions
# ==========================
django-unfold
djangorestframework
httpx

# ==========================
# Data Processing
# ==========================
joblib
langdetect

# ==========================
# Dashboard / Visualization
# ==========================
matplotlib
numpy
pandas
plotly
psycopg2-binary

# ==========================
# Database
# ==========================
psycopg[binary]

# ==========================
# Environment & Config
# ==========================
python-dotenv

# ==========================
# CSV Unification & ETL
# ==========================
rapidfuzz
redis

# ==========================
# HTTP / APIs
# ==========================
requests

# ==========================
# Utilities
# ==========================
ruff
scikit-learn

# ==========================
# Spotify Integration
# ==========================
spotipy

# ==========================
# Machine Learning
# ==========================
tensorflow
torch
tqdm
vaderSentiment
